<a href="https://colab.research.google.com/github/navyasri1025/Week8coding/blob/main/exception_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(5+10)
print(5/5)
#print(5/0)
print(1+1)
try:
  print(5/0)
except:
  print("Hey ,you will get an error")

15
1.0
2
Hey ,you will get an error

In [2]:
numerator = float(input("Enter the numerator: "))
denominator = float(input("Enter the denominator: "))
if denominator == 0:
    raise ZeroDivisionError("Error: Denominator cannot be zero.")
else:
    quotient = numerator / denominator
    print("Quotient:", quotient)

Enter the numerator: 40
Enter the denominator: 50
Quotient: 0.8

In [12]:
#Q)Write a program to create 3 truth tables using for loop
#AND GATE

inputs=[0,1]
print("X |  Y  | X & Y |")
print("-----------------")
for X in inputs:
  for Y in inputs:
    output = X and Y
    print(f"{X} |  {Y}  |  {output}  |")

X |  Y  | X & Y |
-----------------
0 |  0  |  0  |
0 |  1  |  0  |
1 |  0  |  0  |
1 |  1  |  1  |

In [14]:
inputs=[0,1]
print("X | Y | X  OR Y |")
print("-------------")
for X in inputs:
  for Y in inputs:
    output = X or Y
    print(f"{X} | {Y}  |  {output} |")

X | Y | X  OR Y |
-------------
0 | 0  |  0 |
0 | 1  |  1 |
1 | 0  |  1 |
1 | 1  |  1 |

In [19]:
inputs=[0,1]
print("X | NOT X ")
print("--------")
for X in inputs:
    output = not X
    print(f"{X} | {Y} |  {output}   ")

X | NOT X
--------
0 | 1 |  True
1 | 1 |  False

In [21]:
input = [0,1]
print("X Y Z | X+Y.Z")
print("-------------")
for X in input:
  for Y in input:
    for Z in input:
      output = X+(Y*Z)
      print(f"{X} {Y} {Z} | {output}")

X Y Z | X+Y.Z
-------------
0 0 0 | 0
0 0 1 | 0
0 1 0 | 0
0 1 1 | 1
1 0 0 | 1
1 0 1 | 1
1 1 0 | 1
1 1 1 | 2